
<div ng-app="AuthSampleApp">
	<div ng-controller="DataController">


	<div class="col s12">

<!-- search bar -->
			<div class="input-field white">
				<a href="/" class="brand-logo pointer"><img src="http://i.imgur.com/M5XU3Lt.png" style="height: 60px"></a>

        <input class="narrow" id="search" type="text" placeholder="search">


<!-- icons -->
			<div class="file-upload pointer" style="float: right">
				<label for="csv-file">
					<img src="http://i.imgur.com/qa67Q9e.png" class="nav-icon icons pointer"/>
				</label>

				<input id="csv-file" class="pointer" type="file"/>

				<span id="upload" data-action="upload" class="upload pointer">
					<img src="http://i.imgur.com/d5JF8Qj.png" style="height: 32px;" class="icons">
				</span>

				<span id="export" class="pointer" data-action="export"  style="float: right">
					<img src="http://i.imgur.com/NFxSxN9.png" class="nav-icon icons">
				</span>

			</div>
		</div>




<!-- table -->
			<table id="csv-table" class="table table-stripped table-bordered white highlight" data-toggle="table">

			<thead>
				<tr>
						<th id="firstName">First Name</th>
						<th id="lastName">Last Name</th>
						<th id="email">Email</th>
						<th id="jobTitle">Job Title</th>
						<th id="location">Location</th>
						<th id="linkedin">LinkedIn</th>
						<th id="twitter">Twitter</th>
						<th id="github">Github</th>
				</tr>
			</thead>

		</table>


		<div class="center">
			<i class="fa fa-cloud-upload" aria-hidden="true" id="cloud"></i>
		</div>

	</div>


<!-- OLD Upload-->
	<!-- <div style="float: right" class="btn btn-file">
			<input type="file" id="csv-file" />
	</div>
	<span class="fileupload-preview"></span> -->


	</div>
</div>

<script>

	 $("#search").keyup(function(){
			 _this = this;
			 // Show only matching TR, hide rest of them
			 $.each($("#csv-table tbody tr"), function() {
					 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
							$(this).hide();
					 else
							$(this).show();
			 });
	 });



		$("#search").click(function(){
	    $(this).toggleClass('narrow wide');
			$(".icons").toggleClass('show hide');
		});

		$("body").click(function(){
		 $(".wide").removeClass('wide').addClass('narrow');
		});

		$("#search").click(function(){
			 event.stopPropagation();
		});



</script>
