
<div ng-app="AuthSampleApp">
	<div ng-controller="DataController">






	<div class="col s12">
				<div class="input-field white" id="find">
	        <input id="search" type="text" placeholder="search">
				</div>
				<div id="savebutton">
					<span id="upload" data-action="upload" class="btn cyan lighten-4 upload">
						<i class="fa fa-file-code-o fa-2x" aria-hidden="true"></i> Scrape
					</span>
				</div>


			<table id="csv-table" class="table table-stripped table-bordered white highlight" data-toggle="table">

			<thead>
				<tr>
						<th id="firstName">First Name</th>
						<th id="lastName">Last Name</th>
						<th id="email">Email</th>
						<th id="jobTitle">Job Title</th>
						<th id="location">Location</th>
						<th id="linkedin">LinkedIn</th>
						<th id="twitter">Twitter</th>
						<th id="github">Github</th>
				</tr>
			</thead>

		</table>



		<div class="center">
			<i class="fa fa-cloud-upload" aria-hidden="true" id="cloud"></i>
		</div>

	</div>


<!-- OLD -->
	<!-- <div style="float: right" class="btn btn-file">
			<input type="file" id="csv-file" />
	</div>
	<span class="fileupload-preview"></span> -->


<!-- NEW -->

	<div class="image-upload">
    <label for="csv-file">
        <img src="http://i.imgur.com/qa67Q9e.png" />
    </label>

    <input id="csv-file" type="file"/>
</div>


<!-- Good -->




	<div class="fixed-action-btn" style="bottom: 20px; left: 50px;">
		<span id="export" data-action="export">
			<img src="http://i.imgur.com/NFxSxN9.png">
		</span>
	</div>


	<span id"notification" class=""></span>
</div>
</div>

<script>

	 $("#search").keyup(function(){
			 _this = this;
			 // Show only matching TR, hide rest of them
			 $.each($("#csv-table tbody tr"), function() {
					 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
							$(this).hide();
					 else
							$(this).show();
			 });
	 });



</script>
