body {
  padding: 0 10px 0 10px !important;
}


.brand-logo {
  position: absolute;
  top: -39px;
}


#logo {
  height: 35px;
  margin-top: 15px
}


.black-nav {
  color: black;
}


#search {
  margin: 0 !important;
  float: right;
  border: 2px solid #B5E2ED;
  padding: 0 0 0 10px;
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: transparent;
}

#search::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: black;
    font-size: 16px;
    background-image: url("http://i.imgur.com/Gi5JV1r.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18px;
    border-right: 10px solid white;
    cursor: pointer;
}


.narrow {
  height: 2em !important;
  width: 20% !important;
}

.wide {
  height: 2em !important;
  width: 35% !important;
}

.hide {
  display: none !important;
}


.active {
  color: #eeeeee !important;
}


.center {
  margin: auto;
  width: 50%;
}


#cloud {
  font-size: 200px;
  color: #e0e0e0;
  padding-top: 100px;
}


#scrape {
  float: right;
}


.upload {
  height: 40px !important;
  padding: 5px 35px 0 35px;
}


.btn:active {
  transform: translateY(4px);
}


.file-upload {
  height: 40px !important;
}


.file-upload > input {
  display: none;
}


#export {
  padding-right: 30px;
}


nav {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
}


.nav-icon {
  height: 40px;
}

.input-field label {
  position: relative !important;
  top: 0;
  left: 0;
}

input[type=text]:focus:not([readonly]) {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
}

.pointer {
  cursor: pointer;
}
